body {
    background: linear-gradient(90deg, rgb(18, 0, 40) 0%, rgb(2, 0, 35) 35%, rgb(35, 0, 78) 100%);
    background-color: #0b0016;
}
h1 {
    color: #fff;
    text-align: left;
    font-family: Verdana;
    text-shadow: -3px 2px rgb(122, 122, 122);
}
h2 {
    color: #fff;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-shadow: -3px 2px rgb(122, 122, 122);
}
h3 {
    color: #fff;
    padding: 10px;
    text-align: center;
    background: #1f1b23;
    border-radius: 15px;
    font-family: monospace;
}
h4 {
    font-family: monospace, 'Courier New', monospace;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
p {
    color: #fff;
    text-align: center;
    font-family: monospace, 'Courier New', monospace;
    font-size: 14px;
}
a {
    color: #fff;
    text-align: center;
    font-family: monospace, 'Courier New', monospace;
    font-size: 14px;
    text-decoration: none;
}
img {
    float: left; /* Remove this, and you get a different cool effect. */
}
ul {
    padding-left: 0;
}
img.icon {
    height: 125px;
    float: left;
    margin-right: 50px;
}
img.icon-small {
    height: 75px;
    float: left;
    margin-right: 50px;
    border-radius: 15px;
}
ul.lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: center;
  }
li.lists {
    display: inline-block;
}
h1.credits {
    text-align: center;
}
h2.credits {
    text-align: center;
}
p.credits {
    text-align: left;
}
img.code-example {
    float: right;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 250px;
}
p.code-example {
    text-align: left;
}
.classification {
    text-align: center;
    float: center;
}
.header {
    padding: 15px;
    text-align: center;
    background: #0b0016;
    box-shadow: -6px 4px rgb(15, 15, 15);
    border-radius: 15px;
}
.background {
    padding: 15px;
    text-align: center;
    background: #0b0016;
    border-radius: 15px;
}
.footerbutton {
    padding: 15px;
    text-align: center;
    background: #1f1b23;
    border-radius: 15px;
    margin: 0px;
}
.languagebutton {
    border-radius: 25px;
    margin-bottom: 10px;
    width: 300px;
    display: inline-block;
}
.underline {
    text-decoration: underline;
}